body {
  margin: 1em auto 0.5em auto;
  width: 78%;
  font-size: 1.2em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a.kanji { position: relative; display: inline-block; padding: 10px; }
a.kanji:after { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0;}
